<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="reporting.Setup"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/WorldOfRetargetCommon/RetargetCommonRestAPIAutomationFramework/src/test/java/airlines/AirlineTests.java">
        <classes>
            <class name="airlines.AirlineTestsScenarios">
            </class>
        </classes>
    </test>
</suite>